{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/application.css' %}" rel="stylesheet">
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand">Upcomming Moz</span>
				</div>
			</div>
		</header>

		<section id="main-region" class="container-events">
			<article class="item-event">
				<div class="event-poster__decoration" style="background-color: rgb(234, 100, 29);">
				</div>
	        	<div class="event-poster__header">
	            
	        		<div class="event-poster__date">
	            		<dd>Mon, Jun 15</dd>
	            		<dd>11:00 AM</dd>
	        		</div>
	        		<div class="event-poster__logo img-90 js-xd-background" style="background-color: rgb(234, 100, 29);">
	                	<img class="js-poster-image js-d-retina" src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=90&amp;w=90&amp;s=67a784ca9fc83bf75de147cb0b6452ee" data-d-retina-src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=180&amp;w=180&amp;s=2dc4c035736b208bdc344243a245f33b" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
	            	</div>
	        	</div>
	        	<div class="event-poster__description">
	                <h4 class="event-poster__title">
	                    Curso Online: Instalación y Administración de un Campus Virtual. Caso: Chamilo LMS
	                </h4>
            
            		<ul class="event-poster__info">
		                <li>
		                    <span class="text--truncated">
		                        Business &amp; Professional
		                    </span>
		                </li>
		                <li> 
		                    <span class="text--truncated">
		                        Lima, Lima
		                </li>   
		            </ul>
		        </div>
			</article>
			<article class="item-event">
				<div class="event-poster__decoration" style="background-color: rgb(234, 100, 29);">
				</div>
	        	<div class="event-poster__header">
	            
	        		<div class="event-poster__date">
	            		<dd>Mon, Jun 15</dd>
	            		<dd>11:00 AM</dd>
	        		</div>
	        		<div class="event-poster__logo img-90 js-xd-background" style="background-color: rgb(234, 100, 29);">
	                	<img class="js-poster-image js-d-retina" src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=90&amp;w=90&amp;s=67a784ca9fc83bf75de147cb0b6452ee" data-d-retina-src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=180&amp;w=180&amp;s=2dc4c035736b208bdc344243a245f33b" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
	            	</div>
	        	</div>
	        	<div class="event-poster__description">
	                <h4 class="event-poster__title">
	                    Curso Online: Instalación y Administración de un Campus Virtual. Caso: Chamilo LMS
	                </h4>
            
            		<ul class="event-poster__info">
		                <li>
		                    <span class="text--truncated">
		                        Business &amp; Professional
		                    </span>
		                </li>
		                <li> 
		                    <span class="text--truncated">
		                        Lima, Lima
		                </li>   
		            </ul>
		        </div>
			</article>
			<article class="item-event">
				<div class="event-poster__decoration" style="background-color: rgb(234, 100, 29);">
				</div>
	        	<div class="event-poster__header">
	            
	        		<div class="event-poster__date">
	            		<dd>Mon, Jun 15</dd>
	            		<dd>11:00 AM</dd>
	        		</div>
	        		<div class="event-poster__logo img-90 js-xd-background" style="background-color: rgb(234, 100, 29);">
	                	<img class="js-poster-image js-d-retina" src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=90&amp;w=90&amp;s=67a784ca9fc83bf75de147cb0b6452ee" data-d-retina-src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=180&amp;w=180&amp;s=2dc4c035736b208bdc344243a245f33b" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
	            	</div>
	        	</div>
	        	<div class="event-poster__description">
	                <h4 class="event-poster__title">
	                    Curso Online: Instalación y Administración de un Campus Virtual. Caso: Chamilo LMS
	                </h4>
            
            		<ul class="event-poster__info">
		                <li>
		                    <span class="text--truncated">
		                        Business &amp; Professional
		                    </span>
		                </li>
		                <li> 
		                    <span class="text--truncated">
		                        Lima, Lima
		                </li>   
		            </ul>
		        </div>
			</article>
			<article class="item-event">
				<div class="event-poster__decoration" style="background-color: rgb(234, 100, 29);">
				</div>
	        	<div class="event-poster__header">
	            
	        		<div class="event-poster__date">
	            		<dd>Mon, Jun 15</dd>
	            		<dd>11:00 AM</dd>
	        		</div>
	        		<div class="event-poster__logo img-90 js-xd-background" style="background-color: rgb(234, 100, 29);">
	                	<img class="js-poster-image js-d-retina" src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=90&amp;w=90&amp;s=67a784ca9fc83bf75de147cb0b6452ee" data-d-retina-src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=180&amp;w=180&amp;s=2dc4c035736b208bdc344243a245f33b" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
	            	</div>
	        	</div>
	        	<div class="event-poster__description">
	                <h4 class="event-poster__title">
	                    Curso Online: Instalación y Administración de un Campus Virtual. Caso: Chamilo LMS
	                </h4>
            
            		<ul class="event-poster__info">
		                <li>
		                    <span class="text--truncated">
		                        Business &amp; Professional
		                    </span>
		                </li>
		                <li> 
		                    <span class="text--truncated">
		                        Lima, Lima
		                </li>   
		            </ul>
		        </div>
			</article>
			<article class="item-event">
				<div class="event-poster__decoration" style="background-color: rgb(234, 100, 29);">
				</div>
	        	<div class="event-poster__header">
	            
	        		<div class="event-poster__date">
	            		<dd>Mon, Jun 15</dd>
	            		<dd>11:00 AM</dd>
	        		</div>
	        		<div class="event-poster__logo img-90 js-xd-background" style="background-color: rgb(234, 100, 29);">
	                	<img class="js-poster-image js-d-retina" src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=90&amp;w=90&amp;s=67a784ca9fc83bf75de147cb0b6452ee" data-d-retina-src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=180&amp;w=180&amp;s=2dc4c035736b208bdc344243a245f33b" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
	            	</div>
	        	</div>
	        	<div class="event-poster__description">
	                <h4 class="event-poster__title">
	                    Curso Online: Instalación y Administración de un Campus Virtual. Caso: Chamilo LMS
	                </h4>
            
            		<ul class="event-poster__info">
		                <li>
		                    <span class="text--truncated">
		                        Business &amp; Professional
		                    </span>
		                </li>
		                <li> 
		                    <span class="text--truncated">
		                        Lima, Lima
		                </li>   
		            </ul>
		        </div>
			</article>
			<article class="item-event">
				<div class="event-poster__decoration" style="background-color: rgb(234, 100, 29);">
				</div>
	        	<div class="event-poster__header">
	            
	        		<div class="event-poster__date">
	            		<dd>Mon, Jun 15</dd>
	            		<dd>11:00 AM</dd>
	        		</div>
	        		<div class="event-poster__logo img-90 js-xd-background" style="background-color: rgb(234, 100, 29);">
	                	<img class="js-poster-image js-d-retina" src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=90&amp;w=90&amp;s=67a784ca9fc83bf75de147cb0b6452ee" data-d-retina-src="https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12807027%2F96524850111%2F1%2Foriginal.png?h=180&amp;w=180&amp;s=2dc4c035736b208bdc344243a245f33b" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
	            	</div>
	        	</div>
	        	<div class="event-poster__description">
	                <h4 class="event-poster__title">
	                    Curso Online: Instalación y Administración de un Campus Virtual. Caso: Chamilo LMS
	                </h4>
            
            		<ul class="event-poster__info">
		                <li>
		                    <span class="text--truncated">
		                        Business &amp; Professional
		                    </span>
		                </li>
		                <li> 
		                    <span class="text--truncated">
		                        Lima, Lima
		                </li>   
		            </ul>
		        </div>
			</article>
		</section>
	</body>
</html>